.element__remove {
  display: block;
  position: absolute;
  top: 21px;
  left: 244px;
  background: none;
  background-image: url(../../../images/remove_icon.svg);
  width: 18px;
  height: 19px;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 0.2s ease;
}

.element__remove:hover {
  opacity: 0.6;
  cursor: pointer;
}