.auth__login-link {
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding-left: 4px;
  transition: 100ms;
}

.auth__login-link:hover {
  opacity: 0.6;
}

.auth__login-link:visited {
  text-decoration: none;
}