.auth__item {
  background-color: black;
  vertical-align: top;
  border: none;
  border-bottom: 2px solid #ccc;
  color: #ccc;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 358px;
  height: 29px;
  margin: 0;
  padding: 0;
}

.auth__item:focus{
  outline: none;
  border-bottom: 2px solid #ffffff;
}