.profile__info {
  display: flex;
  flex-direction: column;
  max-width: 336px;
  flex-wrap: wrap;
  margin-right: auto;
}

@media screen and (max-width: 656px) {
  .profile__info {
    margin-top: 28px;
    align-items: center;
    margin-right: 0;
  }
}