.header__button {
  background-color: black;
  border: none;
  margin-left: 26px;
  padding: 0;
  color: #a9a9a9;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 122.222% */
  text-decoration: none;
  transition: 100ms;

}

.header__button:hover{
  opacity: 0.6;
  cursor: pointer;
}
