.popup__content {
  margin: 34px 36px 37px;
  display: flex;
  flex-direction: column;
  padding: 0;
  border: none;
}

@media screen and (max-width: 656px) {
  .popup__content {
    margin: 25px 22px;
  }
}