.element__like {
  border: none;
  height: 19px;
  width: 22px;

  background-color: #fff;
  background-image: url(../../../images/like.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 0.2s ease;
}

.element__like:hover {
  opacity: 0.5;
  cursor: pointer;
}

